@import base.sass
@import "compass/css3/font-face"

$black: #333333
$blue: #3399cc
$white: #ffffff

@include font-face("Bag", url("/fonts/AkzidenzGroteskBE.ttf"))

body
  background-color: $black

h1
  color: $white
  font-family: "Bag"

.logo
  max-width: 200px
  height: auto

.top
  margin-top: 40px